# NewNotebook1

# Introduction: 
This project is to create a new Jupyterlite Notebook (in English) and share it via a public GitHub link.

# Some of the popular data science languages used are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

## Some commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

## Data science tools:

| Data Science Tools |
| -------------|
| Jupyter Notebooks |
| Anaconda |
| RStudio |
| Spyder |

## Below are some arithmetic examples:
* 1+1 = 2
* 3-2 = 1
* 2*2 = 4
* 6/2 = 3

In [45]:
# A simple arithmetic expression for calculating addition and multiplication:
(3*4)+5

17

In [53]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## **Objectives:**

* Adding comments to code cells
* Creating markup cells
* Adding lists
* Formatting markup cells

## Author
**Carl Chan**